API_KEY=your_api_key
SECRET_KEY=your_secret_key
REST_BASEURL=https://fapi.binance.com
WEBSOCKET_BASEURL=wss://fstream.binance.com
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
