API_KEY=your_testnet_api_key
SECRET_KEY=your_testnet_secret_key
REST_BASEURL=https://testnet.binancefuture.com
WEBSOCKET_BASEURL=wss://stream.binancefuture.com
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
